<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503650417046-rq9oo3cbohnbpung0fobncs9fsh3bub6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503650417046-rq9oo3cbohnbpung0fobncs9fsh3bub6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>503650417046-kj62h34r8hkggvlv2jvt5i7ob271h1ol.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA5D_RYFjC8OsyF-6TmBrbKCH0N4my-7Dg</string>
	<key>GCM_SENDER_ID</key>
	<string>503650417046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tec.reportnew1cld</string>
	<key>PROJECT_ID</key>
	<string>smallfun</string>
	<key>STORAGE_BUCKET</key>
	<string>smallfun.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503650417046:ios:2b62b324f23de9fdc605b7</string>
</dict>
</plist>